NET "vga_r<7>" LOC = P102 | IOSTANDARD = LVTTL;
NET "vga_r<6>" LOC = P101 | IOSTANDARD = LVTTL;
NET "vga_r<5>" LOC = P105 | IOSTANDARD = LVTTL;
NET "vga_r<4>" LOC = P104 | IOSTANDARD = LVTTL;
NET "vga_r<3>" LOC = P112 | IOSTANDARD = LVTTL;
NET "vga_r<2>" LOC = P111 | IOSTANDARD = LVTTL;
NET "vga_r<1>" LOC = P115 | IOSTANDARD = LVTTL;
NET "vga_r<0>" LOC = P114 | IOSTANDARD = LVTTL;
NET "vga_g<7>" LOC = P93 | IOSTANDARD = LVTTL;
NET "vga_g<6>" LOC = P92 | IOSTANDARD = LVTTL;
NET "vga_g<5>" LOC = P95 | IOSTANDARD = LVTTL;
NET "vga_g<4>" LOC = P94 | IOSTANDARD = LVTTL;
NET "vga_g<3>" LOC = P98 | IOSTANDARD = LVTTL;
NET "vga_g<2>" LOC = P97 | IOSTANDARD = LVTTL;
NET "vga_g<1>" LOC = P100 | IOSTANDARD = LVTTL;
NET "vga_g<0>" LOC = P99 | IOSTANDARD = LVTTL;
NET "vga_b<7>" LOC = P58 | IOSTANDARD = LVTTL;
NET "vga_b<6>" LOC = P66 | IOSTANDARD = LVTTL;
NET "vga_b<5>" LOC = P74 | IOSTANDARD = LVTTL;
NET "vga_b<4>" LOC = P75 | IOSTANDARD = LVTTL;
NET "vga_b<3>" LOC = P83 | IOSTANDARD = LVTTL;
NET "vga_b<2>" LOC = P85 | IOSTANDARD = LVTTL;
NET "vga_b<1>" LOC = P88 | IOSTANDARD = LVTTL;
NET "vga_b<0>" LOC = P67 | IOSTANDARD = LVTTL;
NET "vga_hsync" LOC = P117 | IOSTANDARD = LVTTL;
NET "vga_vsync" LOC = P116 | IOSTANDARD = LVTTL;
NET "vga_blk" LOC = P87 | IOSTANDARD = LVTTL;
NET "vga_clk" LOC = P57 | IOSTANDARD = LVTTL;