//! **************************************************************************
// Written by: Map P.20131013 on Sat Dec 14 05:36:05 2019
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "b_right_a" LOCATE = SITE "P33" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "vga_blk" LOCATE = SITE "P87" LEVEL 1;
COMP "vga_clk" LOCATE = SITE "P57" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "b_left_a" LOCATE = SITE "P35" LEVEL 1;
COMP "b_down_a" LOCATE = SITE "P41" LEVEL 1;
COMP "vga_hsync" LOCATE = SITE "P117" LEVEL 1;
COMP "vga_vsync" LOCATE = SITE "P116" LEVEL 1;
COMP "b_up_a" LOCATE = SITE "P51" LEVEL 1;
COMP "led[0]" LOCATE = SITE "P134" LEVEL 1;
COMP "led[1]" LOCATE = SITE "P133" LEVEL 1;
COMP "led[2]" LOCATE = SITE "P132" LEVEL 1;
COMP "led[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "led[4]" LOCATE = SITE "P127" LEVEL 1;
COMP "led[5]" LOCATE = SITE "P126" LEVEL 1;
COMP "led[6]" LOCATE = SITE "P124" LEVEL 1;
COMP "led[7]" LOCATE = SITE "P123" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "vga_b[0]" LOCATE = SITE "P67" LEVEL 1;
COMP "vga_b[1]" LOCATE = SITE "P88" LEVEL 1;
COMP "vga_b[2]" LOCATE = SITE "P85" LEVEL 1;
COMP "vga_b[3]" LOCATE = SITE "P83" LEVEL 1;
COMP "vga_b[4]" LOCATE = SITE "P75" LEVEL 1;
COMP "vga_b[5]" LOCATE = SITE "P74" LEVEL 1;
COMP "vga_b[6]" LOCATE = SITE "P66" LEVEL 1;
COMP "vga_b[7]" LOCATE = SITE "P58" LEVEL 1;
COMP "vga_g[0]" LOCATE = SITE "P99" LEVEL 1;
COMP "vga_g[1]" LOCATE = SITE "P100" LEVEL 1;
COMP "vga_g[2]" LOCATE = SITE "P97" LEVEL 1;
COMP "vga_g[3]" LOCATE = SITE "P98" LEVEL 1;
COMP "vga_g[4]" LOCATE = SITE "P94" LEVEL 1;
COMP "vga_g[5]" LOCATE = SITE "P95" LEVEL 1;
COMP "vga_g[6]" LOCATE = SITE "P92" LEVEL 1;
COMP "vga_g[7]" LOCATE = SITE "P93" LEVEL 1;
COMP "vga_r[0]" LOCATE = SITE "P114" LEVEL 1;
COMP "vga_r[1]" LOCATE = SITE "P115" LEVEL 1;
COMP "vga_r[2]" LOCATE = SITE "P111" LEVEL 1;
COMP "vga_r[3]" LOCATE = SITE "P112" LEVEL 1;
COMP "vga_r[4]" LOCATE = SITE "P104" LEVEL 1;
COMP "vga_r[5]" LOCATE = SITE "P105" LEVEL 1;
COMP "vga_r[6]" LOCATE = SITE "P101" LEVEL 1;
COMP "vga_r[7]" LOCATE = SITE "P102" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
PIN vga/vram/disp_vram/Mram_mem4_pins<24> = BEL "vga/vram/disp_vram/Mram_mem4"
        PINNAME CLKA;
PIN vga/vram/disp_vram/Mram_mem4_pins<25> = BEL "vga/vram/disp_vram/Mram_mem4"
        PINNAME CLKB;
PIN vga/vram/disp_vram/Mram_mem3_pins<24> = BEL "vga/vram/disp_vram/Mram_mem3"
        PINNAME CLKA;
PIN vga/vram/disp_vram/Mram_mem3_pins<25> = BEL "vga/vram/disp_vram/Mram_mem3"
        PINNAME CLKB;
PIN vga/vram/disp_vram/Mram_mem1_pins<24> = BEL "vga/vram/disp_vram/Mram_mem1"
        PINNAME CLKA;
PIN vga/vram/disp_vram/Mram_mem1_pins<25> = BEL "vga/vram/disp_vram/Mram_mem1"
        PINNAME CLKB;
PIN vga/vram/disp_vram/Mram_mem2_pins<24> = BEL "vga/vram/disp_vram/Mram_mem2"
        PINNAME CLKA;
PIN vga/vram/disp_vram/Mram_mem2_pins<25> = BEL "vga/vram/disp_vram/Mram_mem2"
        PINNAME CLKB;
PIN snake/game_ram/Mram_ram_pins<10> = BEL "snake/game_ram/Mram_ram" PINNAME
        CLKA;
PIN snake/snake_fsm/Maddsub_n2392_pins<92> = BEL
        "snake/snake_fsm/Maddsub_n2392" PINNAME CLK;
PIN snake/snake_fsm/Maddsub_n2645_pins<92> = BEL
        "snake/snake_fsm/Maddsub_n2645" PINNAME CLK;
PIN snake/multiplier/blk00000001/blk00000004_pins<92> = BEL
        "snake/multiplier/blk00000001/blk00000004" PINNAME CLK;
PIN vga/oddr_pins<1> = BEL "vga/oddr" PINNAME CK0;
PIN vga/oddr_pins<2> = BEL "vga/oddr" PINNAME CK1;
TIMEGRP clkgen_clkdv = BEL "vga/M_h_count_q_0" BEL "vga/M_h_count_q_1" BEL
        "vga/M_h_count_q_2" BEL "vga/M_h_count_q_3" BEL "vga/M_h_count_q_4"
        BEL "vga/M_h_count_q_5" BEL "vga/M_h_count_q_6" BEL
        "vga/M_h_count_q_7" BEL "vga/M_h_count_q_8" BEL "vga/M_h_count_q_9"
        BEL "vga/M_v_count_q_0" BEL "vga/M_v_count_q_1" BEL
        "vga/M_v_count_q_2" BEL "vga/M_v_count_q_3" BEL "vga/M_v_count_q_4"
        BEL "vga/M_v_count_q_5" BEL "vga/M_v_count_q_6" BEL
        "vga/M_v_count_q_7" BEL "vga/M_v_count_q_8" BEL "vga/M_v_count_q_9"
        PIN "vga/vram/disp_vram/Mram_mem4_pins<24>" PIN
        "vga/vram/disp_vram/Mram_mem4_pins<25>" PIN
        "vga/vram/disp_vram/Mram_mem3_pins<24>" PIN
        "vga/vram/disp_vram/Mram_mem3_pins<25>" PIN
        "vga/vram/disp_vram/Mram_mem1_pins<24>" PIN
        "vga/vram/disp_vram/Mram_mem1_pins<25>" PIN
        "vga/vram/disp_vram/Mram_mem2_pins<24>" PIN
        "vga/vram/disp_vram/Mram_mem2_pins<25>" BEL "b_up_a_edge/M_last_q" BEL
        "reset_cond/M_stage_q_3" BEL "reset_cond/M_stage_q_2" BEL
        "reset_cond/M_stage_q_1" BEL "reset_cond/M_stage_q_0" BEL
        "b_left_a_edge/M_last_q" BEL "clkgen/clkout2_buf" BEL
        "b_down_a_edge/M_last_q" BEL "b_right_a_edge/M_last_q" BEL
        "b_right_a_button/M_ctr_q_0" BEL "b_right_a_button/M_ctr_q_1" BEL
        "b_right_a_button/M_ctr_q_2" BEL "b_right_a_button/M_ctr_q_3" BEL
        "b_right_a_button/M_ctr_q_4" BEL "b_right_a_button/M_ctr_q_5" BEL
        "b_right_a_button/M_ctr_q_6" BEL "b_right_a_button/M_ctr_q_7" BEL
        "b_right_a_button/M_ctr_q_8" BEL "b_right_a_button/M_ctr_q_9" BEL
        "b_right_a_button/M_ctr_q_10" BEL "b_right_a_button/M_ctr_q_11" BEL
        "b_right_a_button/M_ctr_q_12" BEL "b_right_a_button/M_ctr_q_13" BEL
        "b_right_a_button/M_ctr_q_14" BEL "b_right_a_button/M_ctr_q_15" BEL
        "b_right_a_button/M_ctr_q_16" BEL "b_right_a_button/M_ctr_q_17" BEL
        "b_right_a_button/M_ctr_q_18" BEL "b_right_a_button/M_ctr_q_19" BEL
        "b_right_a_button/sync/M_pipe_q_1" BEL
        "b_right_a_button/sync/Mshreg_M_pipe_q_1" BEL
        "b_up_a_button/M_ctr_q_0" BEL "b_up_a_button/M_ctr_q_1" BEL
        "b_up_a_button/M_ctr_q_2" BEL "b_up_a_button/M_ctr_q_3" BEL
        "b_up_a_button/M_ctr_q_4" BEL "b_up_a_button/M_ctr_q_5" BEL
        "b_up_a_button/M_ctr_q_6" BEL "b_up_a_button/M_ctr_q_7" BEL
        "b_up_a_button/M_ctr_q_8" BEL "b_up_a_button/M_ctr_q_9" BEL
        "b_up_a_button/M_ctr_q_10" BEL "b_up_a_button/M_ctr_q_11" BEL
        "b_up_a_button/M_ctr_q_12" BEL "b_up_a_button/M_ctr_q_13" BEL
        "b_up_a_button/M_ctr_q_14" BEL "b_up_a_button/M_ctr_q_15" BEL
        "b_up_a_button/M_ctr_q_16" BEL "b_up_a_button/M_ctr_q_17" BEL
        "b_up_a_button/M_ctr_q_18" BEL "b_up_a_button/M_ctr_q_19" BEL
        "b_up_a_button/sync/M_pipe_q_1" BEL
        "b_up_a_button/sync/Mshreg_M_pipe_q_1" BEL "b_left_a_button/M_ctr_q_0"
        BEL "b_left_a_button/M_ctr_q_1" BEL "b_left_a_button/M_ctr_q_2" BEL
        "b_left_a_button/M_ctr_q_3" BEL "b_left_a_button/M_ctr_q_4" BEL
        "b_left_a_button/M_ctr_q_5" BEL "b_left_a_button/M_ctr_q_6" BEL
        "b_left_a_button/M_ctr_q_7" BEL "b_left_a_button/M_ctr_q_8" BEL
        "b_left_a_button/M_ctr_q_9" BEL "b_left_a_button/M_ctr_q_10" BEL
        "b_left_a_button/M_ctr_q_11" BEL "b_left_a_button/M_ctr_q_12" BEL
        "b_left_a_button/M_ctr_q_13" BEL "b_left_a_button/M_ctr_q_14" BEL
        "b_left_a_button/M_ctr_q_15" BEL "b_left_a_button/M_ctr_q_16" BEL
        "b_left_a_button/M_ctr_q_17" BEL "b_left_a_button/M_ctr_q_18" BEL
        "b_left_a_button/M_ctr_q_19" BEL "b_left_a_button/sync/M_pipe_q_1" BEL
        "b_left_a_button/sync/Mshreg_M_pipe_q_1" BEL
        "b_down_a_button/M_ctr_q_0" BEL "b_down_a_button/M_ctr_q_1" BEL
        "b_down_a_button/M_ctr_q_2" BEL "b_down_a_button/M_ctr_q_3" BEL
        "b_down_a_button/M_ctr_q_4" BEL "b_down_a_button/M_ctr_q_5" BEL
        "b_down_a_button/M_ctr_q_6" BEL "b_down_a_button/M_ctr_q_7" BEL
        "b_down_a_button/M_ctr_q_8" BEL "b_down_a_button/M_ctr_q_9" BEL
        "b_down_a_button/M_ctr_q_10" BEL "b_down_a_button/M_ctr_q_11" BEL
        "b_down_a_button/M_ctr_q_12" BEL "b_down_a_button/M_ctr_q_13" BEL
        "b_down_a_button/M_ctr_q_14" BEL "b_down_a_button/M_ctr_q_15" BEL
        "b_down_a_button/M_ctr_q_16" BEL "b_down_a_button/M_ctr_q_17" BEL
        "b_down_a_button/M_ctr_q_18" BEL "b_down_a_button/M_ctr_q_19" BEL
        "b_down_a_button/sync/M_pipe_q_1" BEL
        "b_down_a_button/sync/Mshreg_M_pipe_q_1" BEL "snake/random/M_y_q_31"
        BEL "snake/random/M_y_q_29" BEL "snake/random/M_y_q_28" BEL
        "snake/random/M_y_q_27" BEL "snake/random/M_y_q_26" BEL
        "snake/random/M_y_q_24" BEL "snake/random/M_y_q_23" BEL
        "snake/random/M_y_q_22" BEL "snake/random/M_y_q_18" BEL
        "snake/random/M_y_q_15" BEL "snake/random/M_y_q_12" BEL
        "snake/random/M_y_q_11" BEL "snake/random/M_y_q_10" BEL
        "snake/random/M_y_q_8" BEL "snake/random/M_y_q_7" BEL
        "snake/random/M_y_q_6" BEL "snake/random/M_y_q_4" BEL
        "snake/random/M_y_q_3" BEL "snake/random/M_y_q_1" BEL
        "snake/random/M_z_q_31" BEL "snake/random/M_z_q_30" BEL
        "snake/random/M_z_q_26" BEL "snake/random/M_z_q_24" BEL
        "snake/random/M_z_q_23" BEL "snake/random/M_z_q_20" BEL
        "snake/random/M_z_q_19" BEL "snake/random/M_z_q_18" BEL
        "snake/random/M_z_q_17" BEL "snake/random/M_z_q_15" BEL
        "snake/random/M_z_q_14" BEL "snake/random/M_z_q_10" BEL
        "snake/random/M_z_q_9" BEL "snake/random/M_z_q_7" BEL
        "snake/random/M_z_q_4" BEL "snake/random/M_z_q_3" BEL
        "snake/random/M_z_q_0" BEL "snake/random/M_w_q_30" BEL
        "snake/random/M_w_q_29" BEL "snake/random/M_w_q_28" BEL
        "snake/random/M_w_q_27" BEL "snake/random/M_w_q_25" BEL
        "snake/random/M_w_q_24" BEL "snake/random/M_w_q_23" BEL
        "snake/random/M_w_q_22" BEL "snake/random/M_w_q_19" BEL
        "snake/random/M_w_q_18" BEL "snake/random/M_w_q_16" BEL
        "snake/random/M_w_q_15" BEL "snake/random/M_w_q_14" BEL
        "snake/random/M_w_q_11" BEL "snake/random/M_w_q_10" BEL
        "snake/random/M_w_q_7" BEL "snake/random/M_w_q_5" BEL
        "snake/random/M_w_q_3" BEL "snake/random/M_w_q_2" BEL
        "snake/random/M_w_q_0" BEL "snake/random/M_x_q_31" BEL
        "snake/random/M_x_q_28" BEL "snake/random/M_x_q_27" BEL
        "snake/random/M_x_q_26" BEL "snake/random/M_x_q_24" BEL
        "snake/random/M_x_q_23" BEL "snake/random/M_x_q_21" BEL
        "snake/random/M_x_q_18" BEL "snake/random/M_x_q_17" BEL
        "snake/random/M_x_q_15" BEL "snake/random/M_x_q_14" BEL
        "snake/random/M_x_q_12" BEL "snake/random/M_x_q_9" BEL
        "snake/random/M_x_q_8" BEL "snake/random/M_x_q_7" BEL
        "snake/random/M_x_q_4" BEL "snake/random/M_x_q_3" BEL
        "snake/random/M_x_q_2" BEL "snake/random/M_x_q_0" BEL
        "snake/random/M_y_q_30" BEL "snake/random/M_y_q_25" BEL
        "snake/random/M_y_q_21" BEL "snake/random/M_y_q_20" BEL
        "snake/random/M_y_q_19" BEL "snake/random/M_y_q_17" BEL
        "snake/random/M_y_q_16" BEL "snake/random/M_y_q_14" BEL
        "snake/random/M_y_q_13" BEL "snake/random/M_y_q_9" BEL
        "snake/random/M_y_q_5" BEL "snake/random/M_y_q_2" BEL
        "snake/random/M_y_q_0" BEL "snake/random/M_z_q_29" BEL
        "snake/random/M_z_q_28" BEL "snake/random/M_z_q_27" BEL
        "snake/random/M_z_q_25" BEL "snake/random/M_z_q_22" BEL
        "snake/random/M_z_q_21" BEL "snake/random/M_z_q_16" BEL
        "snake/random/M_z_q_13" BEL "snake/random/M_z_q_12" BEL
        "snake/random/M_z_q_11" BEL "snake/random/M_z_q_8" BEL
        "snake/random/M_z_q_6" BEL "snake/random/M_z_q_5" BEL
        "snake/random/M_z_q_2" BEL "snake/random/M_z_q_1" BEL
        "snake/random/M_w_q_31" BEL "snake/random/M_w_q_26" BEL
        "snake/random/M_w_q_21" BEL "snake/random/M_w_q_20" BEL
        "snake/random/M_w_q_17" BEL "snake/random/M_w_q_13" BEL
        "snake/random/M_w_q_12" BEL "snake/random/M_w_q_9" BEL
        "snake/random/M_w_q_8" BEL "snake/random/M_w_q_6" BEL
        "snake/random/M_w_q_4" BEL "snake/random/M_w_q_1" BEL
        "snake/random/M_x_q_30" BEL "snake/random/M_x_q_29" BEL
        "snake/random/M_x_q_25" BEL "snake/random/M_x_q_22" BEL
        "snake/random/M_x_q_20" BEL "snake/random/M_x_q_19" BEL
        "snake/random/M_x_q_16" BEL "snake/random/M_x_q_13" BEL
        "snake/random/M_x_q_11" BEL "snake/random/M_x_q_10" BEL
        "snake/random/M_x_q_6" BEL "snake/random/M_x_q_5" BEL
        "snake/random/M_x_q_1" PIN "snake/game_ram/Mram_ram_pins<10>" BEL
        "snake/snake_fsm/M_ram_write_counter_q_0" BEL
        "snake/snake_fsm/M_ram_write_counter_q_1" BEL
        "snake/snake_fsm/M_ram_write_counter_q_2" BEL
        "snake/snake_fsm/M_ram_write_counter_q_3" BEL
        "snake/snake_fsm/M_ram_write_counter_q_4" BEL
        "snake/snake_fsm/M_ram_write_counter_q_5" BEL
        "snake/snake_fsm/M_ram_write_counter_q_6" BEL
        "snake/snake_fsm/M_ram_write_counter_q_7" BEL
        "snake/snake_fsm/M_direction_q_0" BEL
        "snake/snake_fsm/M_direction_q_1" BEL
        "snake/snake_fsm/M_direction_q_2" BEL
        "snake/snake_fsm/M_direction_q_3" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_0" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_1" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_2" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_3" BEL
        "snake/snake_fsm/M_ram_clear_counter_q_0" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_4" BEL
        "snake/snake_fsm/M_ram_clear_counter_q_1" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_5" BEL
        "snake/snake_fsm/M_ram_clear_counter_q_2" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_6" BEL
        "snake/snake_fsm/M_ram_clear_counter_q_3" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_7" BEL
        "snake/snake_fsm/M_ram_clear_counter_q_4" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_8" BEL
        "snake/snake_fsm/M_ram_clear_counter_q_5" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_9" BEL
        "snake/snake_fsm/M_ram_clear_counter_q_6" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_10" BEL
        "snake/snake_fsm/M_ram_clear_counter_q_7" BEL
        "snake/snake_fsm/M_ram_clear_counter_q_8" BEL
        "snake/snake_fsm/M_ram_clear_counter_q_9" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_14" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_15" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_20" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_16" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_21" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_17" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_22" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_18" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_23" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_19" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_24" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_25" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_31" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_26" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_47" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_63" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_80" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_81" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_82" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_83" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_84" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_85" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_86" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_87" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_88" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_94" BEL
        "snake/snake_fsm/M_vram_temp_reg_q_89" BEL
        "snake/snake_fsm/M_random_num_q_0" BEL
        "snake/snake_fsm/M_random_num_q_1" BEL
        "snake/snake_fsm/M_random_num_q_2" BEL
        "snake/snake_fsm/M_random_num_q_3" BEL
        "snake/snake_fsm/M_random_num_q_4" BEL
        "snake/snake_fsm/M_random_num_q_5" BEL
        "snake/snake_fsm/M_random_num_q_6" BEL
        "snake/snake_fsm/M_random_num_q_7" BEL
        "snake/snake_fsm/M_random_num_q_8" BEL
        "snake/snake_fsm/M_random_num_q_9" BEL
        "snake/snake_fsm/M_keep_length_counter_q_FSM_FFd1" BEL
        "snake/snake_fsm/M_keep_length_counter_q_FSM_FFd2" BEL
        "snake/snake_fsm/M_keep_length_counter_q_FSM_FFd3" BEL
        "snake/snake_fsm/M_calc_counter_q_FSM_FFd1" BEL
        "snake/snake_fsm/M_calc_counter_q_FSM_FFd2" BEL
        "snake/snake_fsm/M_calc_counter_q_FSM_FFd3" BEL
        "snake/snake_fsm/M_calc_counter_q_FSM_FFd4" BEL
        "snake/snake_fsm/M_calc_counter_q_FSM_FFd5" BEL
        "snake/snake_fsm/M_r3_q_0" BEL "snake/snake_fsm/M_r3_q_1" BEL
        "snake/snake_fsm/M_r3_q_2" BEL "snake/snake_fsm/M_r3_q_3" BEL
        "snake/snake_fsm/M_r3_q_4" BEL "snake/snake_fsm/M_r3_q_5" BEL
        "snake/snake_fsm/M_r3_q_6" BEL "snake/snake_fsm/M_r3_q_7" BEL
        "snake/snake_fsm/M_r3_q_8" BEL "snake/snake_fsm/M_r3_q_9" BEL
        "snake/snake_fsm/M_input_counter_q_0" BEL
        "snake/snake_fsm/M_input_counter_q_1" BEL
        "snake/snake_fsm/M_input_counter_q_2" BEL
        "snake/snake_fsm/M_input_counter_q_3" BEL
        "snake/snake_fsm/M_input_counter_q_4" BEL
        "snake/snake_fsm/M_input_counter_q_5" BEL
        "snake/snake_fsm/M_input_counter_q_6" BEL
        "snake/snake_fsm/M_input_counter_q_7" BEL
        "snake/snake_fsm/M_input_counter_q_8" BEL
        "snake/snake_fsm/M_input_counter_q_9" BEL
        "snake/snake_fsm/M_input_counter_q_10" BEL
        "snake/snake_fsm/M_input_counter_q_11" BEL
        "snake/snake_fsm/M_input_counter_q_12" BEL
        "snake/snake_fsm/M_input_counter_q_13" BEL
        "snake/snake_fsm/M_input_counter_q_14" BEL
        "snake/snake_fsm/M_input_counter_q_20" BEL
        "snake/snake_fsm/M_input_counter_q_15" BEL
        "snake/snake_fsm/M_input_counter_q_21" BEL
        "snake/snake_fsm/M_input_counter_q_16" BEL
        "snake/snake_fsm/M_input_counter_q_22" BEL
        "snake/snake_fsm/M_input_counter_q_17" BEL
        "snake/snake_fsm/M_input_counter_q_18" BEL
        "snake/snake_fsm/M_input_counter_q_23" BEL
        "snake/snake_fsm/M_input_counter_q_19" BEL
        "snake/snake_fsm/M_input_counter_q_24" BEL
        "snake/snake_fsm/M_head_address_q_10" BEL
        "snake/snake_fsm/M_head_address_q_11" BEL
        "snake/snake_fsm/M_head_address_q_12" BEL
        "snake/snake_fsm/M_head_address_q_13" BEL
        "snake/snake_fsm/M_head_address_q_14" BEL
        "snake/snake_fsm/M_head_address_q_15" BEL
        "snake/snake_fsm/M_user_input_q_0" BEL
        "snake/snake_fsm/M_user_input_q_1" BEL
        "snake/snake_fsm/M_user_input_q_2" BEL
        "snake/snake_fsm/M_user_input_q_3" BEL
        "snake/snake_fsm/M_tail_address_q_0" BEL
        "snake/snake_fsm/M_tail_address_q_1" BEL
        "snake/snake_fsm/M_tail_address_q_2" BEL
        "snake/snake_fsm/M_tail_address_q_3" BEL
        "snake/snake_fsm/M_tail_address_q_4" BEL
        "snake/snake_fsm/M_tail_address_q_5" BEL
        "snake/snake_fsm/M_tail_address_q_6" BEL
        "snake/snake_fsm/M_tail_address_q_7" BEL
        "snake/snake_fsm/M_tail_address_q_8" BEL
        "snake/snake_fsm/M_tail_address_q_9" BEL
        "snake/snake_fsm/M_state_q_FSM_FFd1" BEL
        "snake/snake_fsm/M_state_q_FSM_FFd2" BEL
        "snake/snake_fsm/M_state_q_FSM_FFd3" BEL
        "snake/snake_fsm/M_state_q_FSM_FFd4" BEL
        "snake/snake_fsm/M_state_q_FSM_FFd5" BEL
        "snake/snake_fsm/M_state_q_FSM_FFd6" BEL
        "snake/snake_fsm/M_state_q_FSM_FFd7" BEL
        "snake/snake_fsm/M_state_q_FSM_FFd8" BEL
        "snake/snake_fsm/M_state_q_FSM_FFd9" BEL
        "snake/snake_fsm/M_score_q_10" BEL "snake/snake_fsm/M_score_q_11" BEL
        "snake/snake_fsm/M_score_q_12" BEL "snake/snake_fsm/M_score_q_13" BEL
        "snake/snake_fsm/M_score_q_14" BEL "snake/snake_fsm/M_score_q_20" BEL
        "snake/snake_fsm/M_score_q_15" BEL "snake/snake_fsm/M_score_q_16" BEL
        "snake/snake_fsm/M_score_q_21" BEL "snake/snake_fsm/M_score_q_22" BEL
        "snake/snake_fsm/M_score_q_17" BEL "snake/snake_fsm/M_score_q_23" BEL
        "snake/snake_fsm/M_score_q_18" BEL "snake/snake_fsm/M_score_q_24" BEL
        "snake/snake_fsm/M_score_q_19" BEL "snake/snake_fsm/M_score_q_30" BEL
        "snake/snake_fsm/M_score_q_25" BEL "snake/snake_fsm/M_score_q_31" BEL
        "snake/snake_fsm/M_score_q_26" BEL "snake/snake_fsm/M_score_q_27" BEL
        "snake/snake_fsm/M_score_q_28" BEL "snake/snake_fsm/M_score_q_29" BEL
        "snake/snake_fsm/M_r4_q_4" BEL "snake/snake_fsm/M_r4_q_5" BEL
        "snake/snake_fsm/M_r4_q_7" BEL "snake/snake_fsm/M_r4_q_8" BEL
        "snake/snake_fsm/M_highscore_q_1" BEL
        "snake/snake_fsm/M_highscore_q_2" BEL
        "snake/snake_fsm/M_highscore_q_3" BEL
        "snake/snake_fsm/M_highscore_q_4" BEL
        "snake/snake_fsm/M_highscore_q_5" BEL
        "snake/snake_fsm/M_highscore_q_6" BEL
        "snake/snake_fsm/M_highscore_q_7" BEL
        "snake/snake_fsm/M_highscore_q_8" BEL
        "snake/snake_fsm/M_highscore_q_9" BEL
        "snake/snake_fsm/M_highscore_q_10" BEL
        "snake/snake_fsm/M_highscore_q_11" BEL
        "snake/snake_fsm/M_highscore_q_12" BEL
        "snake/snake_fsm/M_highscore_q_13" BEL
        "snake/snake_fsm/M_highscore_q_14" BEL
        "snake/snake_fsm/M_highscore_q_15" BEL
        "snake/snake_fsm/M_highscore_q_20" BEL
        "snake/snake_fsm/M_highscore_q_16" BEL
        "snake/snake_fsm/M_highscore_q_21" BEL
        "snake/snake_fsm/M_highscore_q_17" BEL
        "snake/snake_fsm/M_highscore_q_22" BEL
        "snake/snake_fsm/M_highscore_q_23" BEL
        "snake/snake_fsm/M_highscore_q_18" BEL
        "snake/snake_fsm/M_highscore_q_19" BEL
        "snake/snake_fsm/M_highscore_q_24" BEL
        "snake/snake_fsm/M_highscore_q_25" BEL
        "snake/snake_fsm/M_highscore_q_30" BEL
        "snake/snake_fsm/M_highscore_q_26" BEL
        "snake/snake_fsm/M_highscore_q_31" BEL
        "snake/snake_fsm/M_highscore_q_27" BEL
        "snake/snake_fsm/M_highscore_q_28" BEL
        "snake/snake_fsm/M_highscore_q_29" PIN
        "snake/snake_fsm/Maddsub_n2392_pins<92>" PIN
        "snake/snake_fsm/Maddsub_n2645_pins<92>" BEL
        "snake/snake_fsm/M_ram_clear_q" BEL "snake/snake_fsm/M_r1_q_10" BEL
        "snake/snake_fsm/M_r1_q_11" BEL "snake/snake_fsm/M_r1_q_12" BEL
        "snake/snake_fsm/M_r1_q_13" BEL "snake/snake_fsm/M_r1_q_14" BEL
        "snake/snake_fsm/M_r1_q_15" BEL "snake/snake_fsm/M_r2_q_10" BEL
        "snake/snake_fsm/M_r2_q_11" BEL "snake/snake_fsm/M_r2_q_12" BEL
        "snake/snake_fsm/M_ram_read_q" BEL "snake/snake_fsm/M_r2_q_13" BEL
        "snake/snake_fsm/M_r2_q_14" BEL "snake/snake_fsm/M_r2_q_15" BEL
        "snake/snake_fsm/M_vram_refresh_ctr_q_10" BEL
        "snake/snake_fsm/M_vram_refresh_ctr_q_11" BEL
        "snake/snake_fsm/M_r3_q_10" BEL "snake/snake_fsm/M_r3_q_11" BEL
        "snake/snake_fsm/M_r3_q_12" BEL "snake/snake_fsm/M_r3_q_13" BEL
        "snake/snake_fsm/M_r3_q_14" BEL "snake/snake_fsm/M_r3_q_15" BEL
        "snake/snake_fsm/M_r4_q_11" BEL "snake/snake_fsm/M_r4_q_16" BEL
        "snake/snake_fsm/M_ram_write_q" BEL
        "snake/snake_fsm/M_vram_refresh_ctr_q_0" BEL
        "snake/snake_fsm/M_vram_refresh_ctr_q_1" BEL
        "snake/snake_fsm/M_vram_refresh_ctr_q_2" BEL
        "snake/snake_fsm/M_vram_refresh_ctr_q_3" BEL
        "snake/snake_fsm/M_vram_refresh_ctr_q_4" BEL
        "snake/snake_fsm/M_vram_refresh_ctr_q_5" BEL
        "snake/snake_fsm/M_vram_refresh_ctr_q_6" BEL
        "snake/snake_fsm/M_vram_refresh_ctr_q_7" BEL
        "snake/snake_fsm/M_vram_refresh_ctr_q_8" BEL
        "snake/snake_fsm/M_vram_refresh_ctr_q_9" BEL
        "snake/snake_fsm/M_r1_q_0" BEL "snake/snake_fsm/M_r1_q_1" BEL
        "snake/snake_fsm/M_r1_q_2" BEL "snake/snake_fsm/M_r1_q_3" BEL
        "snake/snake_fsm/M_r1_q_4" BEL "snake/snake_fsm/M_r1_q_5" BEL
        "snake/snake_fsm/M_r1_q_6" BEL "snake/snake_fsm/M_r1_q_7" BEL
        "snake/snake_fsm/M_r1_q_8" BEL "snake/snake_fsm/M_r1_q_9" BEL
        "snake/snake_fsm/M_head_address_q_0" BEL
        "snake/snake_fsm/M_head_address_q_1" BEL
        "snake/snake_fsm/M_head_address_q_2" BEL
        "snake/snake_fsm/M_head_address_q_3" BEL
        "snake/snake_fsm/M_head_address_q_4" BEL
        "snake/snake_fsm/M_head_address_q_5" BEL
        "snake/snake_fsm/M_head_address_q_6" BEL
        "snake/snake_fsm/M_head_address_q_7" BEL
        "snake/snake_fsm/M_head_address_q_8" BEL
        "snake/snake_fsm/M_head_address_q_9" BEL "snake/snake_fsm/M_score_q_1"
        BEL "snake/snake_fsm/M_score_q_2" BEL "snake/snake_fsm/M_score_q_3"
        BEL "snake/snake_fsm/M_score_q_4" BEL "snake/snake_fsm/M_score_q_5"
        BEL "snake/snake_fsm/M_score_q_6" BEL "snake/snake_fsm/M_score_q_7"
        BEL "snake/snake_fsm/M_score_q_8" BEL "snake/snake_fsm/M_score_q_9"
        BEL "snake/snake_fsm/M_vram_refresh_q" BEL "snake/snake_fsm/M_r2_q_0"
        BEL "snake/snake_fsm/M_r2_q_1" BEL "snake/snake_fsm/M_r2_q_2" BEL
        "snake/snake_fsm/M_r2_q_3" BEL "snake/snake_fsm/M_r2_q_4" BEL
        "snake/snake_fsm/M_r2_q_5" BEL "snake/snake_fsm/M_r2_q_6" BEL
        "snake/snake_fsm/M_r2_q_7" BEL "snake/snake_fsm/M_r2_q_8" BEL
        "snake/snake_fsm/M_r2_q_9" BEL "snake/snake_fsm/M_state_q_FSM_FFd10"
        BEL "snake/snake_fsm/M_state_q_FSM_FFd11" BEL
        "snake/snake_fsm/M_state_q_FSM_FFd12" BEL
        "snake/snake_fsm/M_state_q_FSM_FFd13" BEL
        "snake/snake_fsm/M_state_q_FSM_FFd14" BEL
        "snake/snake_fsm/M_previous_head_q_0" BEL
        "snake/snake_fsm/M_previous_head_q_1" BEL
        "snake/snake_fsm/M_previous_head_q_2" BEL
        "snake/snake_fsm/M_previous_head_q_3" BEL
        "snake/snake_fsm/M_previous_head_q_4" BEL
        "snake/snake_fsm/M_previous_head_q_5" BEL
        "snake/snake_fsm/M_previous_head_q_6" BEL
        "snake/snake_fsm/M_previous_head_q_7" BEL
        "snake/snake_fsm/M_previous_head_q_8" BEL
        "snake/snake_fsm/M_previous_head_q_9" BEL
        "snake/divider/blk00000003/blk00000010" BEL
        "snake/divider/blk00000003/blk00000011" BEL
        "snake/divider/blk00000003/blk00000006" BEL
        "snake/divider/blk00000003/blk00000012" BEL
        "snake/divider/blk00000003/blk00000007" BEL
        "snake/divider/blk00000003/blk00000013" BEL
        "snake/divider/blk00000003/blk00000008" BEL
        "snake/divider/blk00000003/blk00000014" BEL
        "snake/divider/blk00000003/blk00000009" BEL
        "snake/divider/blk00000003/blk00000020" BEL
        "snake/divider/blk00000003/blk00000015" BEL
        "snake/divider/blk00000003/blk00000021" BEL
        "snake/divider/blk00000003/blk00000016" BEL
        "snake/divider/blk00000003/blk00000022" BEL
        "snake/divider/blk00000003/blk00000017" BEL
        "snake/divider/blk00000003/blk00000023" BEL
        "snake/divider/blk00000003/blk00000018" BEL
        "snake/divider/blk00000003/blk00000024" BEL
        "snake/divider/blk00000003/blk00000019" BEL
        "snake/divider/blk00000003/blk00000030" BEL
        "snake/divider/blk00000003/blk00000025" BEL
        "snake/divider/blk00000003/blk00000031" BEL
        "snake/divider/blk00000003/blk00000026" BEL
        "snake/divider/blk00000003/blk00000027" BEL
        "snake/divider/blk00000003/blk00000032" BEL
        "snake/divider/blk00000003/blk0000000a" BEL
        "snake/divider/blk00000003/blk00000028" BEL
        "snake/divider/blk00000003/blk00000033" BEL
        "snake/divider/blk00000003/blk0000000b" BEL
        "snake/divider/blk00000003/blk00000029" BEL
        "snake/divider/blk00000003/blk00000034" BEL
        "snake/divider/blk00000003/blk0000000c" BEL
        "snake/divider/blk00000003/blk00000035" BEL
        "snake/divider/blk00000003/blk0000000d" BEL
        "snake/divider/blk00000003/blk00000036" BEL
        "snake/divider/blk00000003/blk0000000e" BEL
        "snake/divider/blk00000003/blk0000001a" BEL
        "snake/divider/blk00000003/blk00000037" BEL
        "snake/divider/blk00000003/blk0000000f" BEL
        "snake/divider/blk00000003/blk00000038" BEL
        "snake/divider/blk00000003/blk00000043" BEL
        "snake/divider/blk00000003/blk0000001b" BEL
        "snake/divider/blk00000003/blk00000039" BEL
        "snake/divider/blk00000003/blk00000044" BEL
        "snake/divider/blk00000003/blk0000001c" BEL
        "snake/divider/blk00000003/blk00000045" BEL
        "snake/divider/blk00000003/blk00000050" BEL
        "snake/divider/blk00000003/blk00000100" BEL
        "snake/divider/blk00000003/blk0000001d" BEL
        "snake/divider/blk00000003/blk00000051" BEL
        "snake/divider/blk00000003/blk0000001e" BEL
        "snake/divider/blk00000003/blk0000002a" BEL
        "snake/divider/blk00000003/blk0000001f" BEL
        "snake/divider/blk00000003/blk0000002b" BEL
        "snake/divider/blk00000003/blk00000049" BEL
        "snake/divider/blk00000003/blk0000002c" BEL
        "snake/divider/blk00000003/blk00000055" BEL
        "snake/divider/blk00000003/blk00000110" BEL
        "snake/divider/blk00000003/blk0000002d" BEL
        "snake/divider/blk00000003/blk00000056" BEL
        "snake/divider/blk00000003/blk00000061" BEL
        "snake/divider/blk00000003/blk00000111" BEL
        "snake/divider/blk00000003/blk0000002e" BEL
        "snake/divider/blk00000003/blk0000003a" BEL
        "snake/divider/blk00000003/blk00000057" BEL
        "snake/divider/blk00000003/blk00000062" BEL
        "snake/divider/blk00000003/blk00000112" BEL
        "snake/divider/blk00000003/blk0000002f" BEL
        "snake/divider/blk00000003/blk00000063" BEL
        "snake/divider/blk00000003/blk00000113" BEL
        "snake/divider/blk00000003/blk0000003b" BEL
        "snake/divider/blk00000003/blk00000114" BEL
        "snake/divider/blk00000003/blk0000003c" BEL
        "snake/divider/blk00000003/blk00000115" BEL
        "snake/divider/blk00000003/blk0000003d" BEL
        "snake/divider/blk00000003/blk00000116" BEL
        "snake/divider/blk00000003/blk0000003e" BEL
        "snake/divider/blk00000003/blk0000004a" BEL
        "snake/divider/blk00000003/blk00000067" BEL
        "snake/divider/blk00000003/blk0000003f" BEL
        "snake/divider/blk00000003/blk00000068" BEL
        "snake/divider/blk00000003/blk00000073" BEL
        "snake/divider/blk00000003/blk0000004b" BEL
        "snake/divider/blk00000003/blk00000069" BEL
        "snake/divider/blk00000003/blk00000074" BEL
        "snake/divider/blk00000003/blk00000075" BEL
        "snake/divider/blk00000003/blk00000080" BEL
        "snake/divider/blk00000003/blk00000081" BEL
        "snake/divider/blk00000003/blk00000126" BEL
        "snake/divider/blk00000003/blk00000082" BEL
        "snake/divider/blk00000003/blk00000127" BEL
        "snake/divider/blk00000003/blk0000004f" BEL
        "snake/divider/blk00000003/blk00000083" BEL
        "snake/divider/blk00000003/blk00000128" BEL
        "snake/divider/blk00000003/blk0000005b" BEL
        "snake/divider/blk00000003/blk00000079" BEL
        "snake/divider/blk00000003/blk00000084" BEL
        "snake/divider/blk00000003/blk00000129" BEL
        "snake/divider/blk00000003/blk0000005c" BEL
        "snake/divider/blk00000003/blk00000085" BEL
        "snake/divider/blk00000003/blk00000090" BEL
        "snake/divider/blk00000003/blk00000140" BEL
        "snake/divider/blk00000003/blk0000005d" BEL
        "snake/divider/blk00000003/blk00000086" BEL
        "snake/divider/blk00000003/blk00000091" BEL
        "snake/divider/blk00000003/blk00000141" BEL
        "snake/divider/blk00000003/blk00000087" BEL
        "snake/divider/blk00000003/blk00000092" BEL
        "snake/divider/blk00000003/blk00000142" BEL
        "snake/divider/blk00000003/blk00000088" BEL
        "snake/divider/blk00000003/blk00000093" BEL
        "snake/divider/blk00000003/blk00000089" BEL
        "snake/divider/blk00000003/blk0000006d" BEL
        "snake/divider/blk00000003/blk0000006e" BEL
        "snake/divider/blk00000003/blk0000012a" BEL
        "snake/divider/blk00000003/blk00000152" BEL
        "snake/divider/blk00000003/blk0000006f" BEL
        "snake/divider/blk00000003/blk0000012b" BEL
        "snake/divider/blk00000003/blk00000153" BEL
        "snake/divider/blk00000003/blk0000012c" BEL
        "snake/divider/blk00000003/blk00000154" BEL
        "snake/divider/blk00000003/blk00000155" BEL
        "snake/divider/blk00000003/blk00000156" BEL
        "snake/divider/blk00000003/blk0000008a" BEL
        "snake/divider/blk00000003/blk00000157" BEL
        "snake/divider/blk00000003/blk00000158" BEL
        "snake/divider/blk00000003/blk0000008b" BEL
        "snake/divider/blk00000003/blk0000013c" BEL
        "snake/divider/blk00000003/blk0000008c" BEL
        "snake/divider/blk00000003/blk0000013d" BEL
        "snake/divider/blk00000003/blk00000170" BEL
        "snake/divider/blk00000003/blk0000008d" BEL
        "snake/divider/blk00000003/blk0000013e" BEL
        "snake/divider/blk00000003/blk00000171" BEL
        "snake/divider/blk00000003/blk0000008e" BEL
        "snake/divider/blk00000003/blk0000013f" BEL
        "snake/divider/blk00000003/blk00000172" BEL
        "snake/divider/blk00000003/blk0000008f" BEL
        "snake/divider/blk00000003/blk00000173" BEL
        "snake/divider/blk00000003/blk00000174" BEL
        "snake/divider/blk00000003/blk00000175" BEL
        "snake/divider/blk00000003/blk00000180" BEL
        "snake/divider/blk00000003/blk00000176" BEL
        "snake/divider/blk00000003/blk00000181" BEL
        "snake/divider/blk00000003/blk00000177" BEL
        "snake/divider/blk00000003/blk00000182" BEL
        "snake/divider/blk00000003/blk00000178" BEL
        "snake/divider/blk00000003/blk00000183" BEL
        "snake/divider/blk00000003/blk00000179" BEL
        "snake/divider/blk00000003/blk00000184" BEL
        "snake/divider/blk00000003/blk00000185" BEL
        "snake/divider/blk00000003/blk00000190" BEL
        "snake/divider/blk00000003/blk00000186" BEL
        "snake/divider/blk00000003/blk00000191" BEL
        "snake/divider/blk00000003/blk00000187" BEL
        "snake/divider/blk00000003/blk00000188" BEL
        "snake/divider/blk00000003/blk00000189" BEL
        "snake/divider/blk00000003/blk0000016e" BEL
        "snake/divider/blk00000003/blk0000017a" BEL
        "snake/divider/blk00000003/blk0000017b" BEL
        "snake/divider/blk00000003/blk0000017c" BEL
        "snake/divider/blk00000003/blk0000017d" BEL
        "snake/divider/blk00000003/blk0000017e" BEL
        "snake/divider/blk00000003/blk0000017f" BEL
        "snake/divider/blk00000003/blk0000018a" BEL
        "snake/divider/blk00000003/blk0000018b" BEL
        "snake/divider/blk00000003/blk0000018c" BEL
        "snake/divider/blk00000003/blk0000018d" BEL
        "snake/divider/blk00000003/blk0000018e" BEL
        "snake/divider/blk00000003/blk000000a2" BEL
        "snake/divider/blk00000003/blk0000018f" BEL
        "snake/divider/blk00000003/blk000000a3" BEL
        "snake/divider/blk00000003/blk000000a4" BEL
        "snake/divider/blk00000003/blk000000a5" BEL
        "snake/divider/blk00000003/blk000000a6" BEL
        "snake/divider/blk00000003/blk000000a7" BEL
        "snake/divider/blk00000003/blk000000a8" BEL
        "snake/divider/blk00000003/blk000000b8" BEL
        "snake/divider/blk00000003/blk000000b9" BEL
        "snake/divider/blk00000003/blk000000d0" BEL
        "snake/divider/blk00000003/blk000000d1" BEL
        "snake/divider/blk00000003/blk000000d2" BEL
        "snake/divider/blk00000003/blk000000d3" BEL
        "snake/divider/blk00000003/blk000000d4" BEL
        "snake/divider/blk00000003/blk000000ba" BEL
        "snake/divider/blk00000003/blk000000bb" BEL
        "snake/divider/blk00000003/blk000000e4" BEL
        "snake/divider/blk00000003/blk000000bc" BEL
        "snake/divider/blk00000003/blk000000e5" BEL
        "snake/divider/blk00000003/blk000000bd" BEL
        "snake/divider/blk00000003/blk000000e6" BEL
        "snake/divider/blk00000003/blk000000be" BEL
        "snake/divider/blk00000003/blk000000e7" BEL
        "snake/divider/blk00000003/blk000000e8" BEL
        "snake/divider/blk00000003/blk000000e9" BEL
        "snake/divider/blk00000003/blk000000ce" BEL
        "snake/divider/blk00000003/blk000000cf" BEL
        "snake/divider/blk00000003/blk000000ea" BEL
        "snake/divider/blk00000003/blk000000fa" BEL
        "snake/divider/blk00000003/blk000000fb" BEL
        "snake/divider/blk00000003/blk000000fc" BEL
        "snake/divider/blk00000003/blk000000fd" BEL
        "snake/divider/blk00000003/blk000000fe" BEL
        "snake/divider/blk00000003/blk000000ff" PIN
        "snake/multiplier/blk00000001/blk00000004_pins<92>" PIN
        "vga/oddr_pins<1>" PIN "vga/oddr_pins<2>" PIN "vga/oddr_pins<1>" PIN
        "vga/oddr_pins<2>";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN clkgen/dcm_sp_inst_pins<3> = BEL "clkgen/dcm_sp_inst" PINNAME CLKIN;
TIMEGRP clk = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "clkgen/dcm_sp_inst_pins<3>";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
TS_clkgen_clkdv = PERIOD TIMEGRP "clkgen_clkdv" TS_clk / 2 HIGH 50%;
SCHEMATIC END;

