NET "b_up_a" LOC = P51;
NET "b_up_a" IOSTANDARD = LVTTL;
NET "b_up_a" PULLDOWN;
NET "b_up_b" LOC = P50 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b_down_a" LOC = P41;
NET "b_down_a" IOSTANDARD = LVTTL;
NET "b_down_a" PULLDOWN;
NET "b_down_b" LOC = P40 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b_left_a" LOC = P35;
NET "b_left_a" IOSTANDARD = LVTTL;
NET "b_left_a" PULLDOWN;
NET "b_left_b" LOC = P34 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b_right_a" LOC = P33;
NET "b_right_a" IOSTANDARD = LVTTL;
NET "b_right_a" PULLDOWN;
NET "b_right_b" LOC = P32 | IOSTANDARD = LVTTL | PULLDOWN;

NET "ps2_user1_clk" LOC = P27 | IOSTANDARD = LVTTL;
NET "ps2_user1_data" LOC = P26 | IOSTANDARD = LVTTL;
NET "ps2_user2_clk" LOC = P24 | IOSTANDARD = LVTTL;
NET "ps2_user2_data" LOC = P23 | IOSTANDARD = LVTTL;

NET "led_key<8>" LOC = P144 | IOSTANDARD = LVTTL;
NET "led_key<7>" LOC = P143 | IOSTANDARD = LVTTL;
NET "led_key<6>" LOC = P142 | IOSTANDARD = LVTTL;
NET "led_key<5>" LOC = P141 | IOSTANDARD = LVTTL;
NET "led_key<4>" LOC = P140 | IOSTANDARD = LVTTL;
NET "led_key<3>" LOC = P139 | IOSTANDARD = LVTTL;
NET "led_key<2>" LOC = P138 | IOSTANDARD = LVTTL;
NET "led_key<1>" LOC = P137 | IOSTANDARD = LVTTL;
